.wrapper {
  margin-top: 50px;
}

.title {
  text-align: center;
  font-size: 3em;
}

.accordion {
  margin: 0 auto;
  width: 900px;
}

.accordion-item {
  margin-bottom: 20px;
}

.accordion-item__input {
  display: none;
}

.accordion-item__trigger {
  cursor: pointer;
  display: block;
  padding: 10px 20px;
  border: 1px solid black;
  
}
.accordion-item__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.accordion-item__text {
  color: blue;
  font-weight: 600;
  font-size: 1.5em;
}


.accordion-item__icon {
  width: 30px;
  height: 30px;
  
}

.accordion:hover .accordion-item__text {
  color: black;
}

.accordion:hover .accordion-item__icon {
  background-image: url('./img/close.png');
}

.accordion-item:hover .accordion-item__icon {
  background-image: url('./img/open.png');
}

input:checked + .accordion-item__trigger > .accordion-item__wrapper > .accordion-item__text {
  color: black;
}

.accordion:hover input:checked + .accordion-item__trigger > .accordion-item__wrapper > .accordion-item__icon {
  background-image: url('./img/open.png');;
}
.accordion-item:active .accordion-item__text {
  color: blue;
}

.accordion-item__content {
  /* cursor: pointer; */
  padding: 20px;
  border: 1px solid black;
  border-top: none;
  display: none;
  transition: 1s;
}


.wrapper-image{
  text-align: center;
}
@keyframes animation-image {
  from {
      width: 0;
  }

  to {
      width: 400px;
  }
}

.accordion-item__image {
  width: 400px;
  animation: 1s ease-in-out animation-image;
}

.accordion-item__input:checked ~ .accordion-item__trigger {
  background-color: #eee;
}

.accordion-item__input:checked ~ .accordion-item__content {
  display: block;
  background-color: #eee;
}

.accordion-item__trigger:hover ~ .accordion-item__content, .accordion-item__content:hover {
  display: block;
  background-color: #eee;
}

@media (max-width: 1100px) {
  .accordion {
    width: 80%;
  }

  @keyframes animation-image {
    from {
        width: 0;
    }
    to {
        width: 400px;
    }
  }
}

@media (max-width: 685px) {
  .accordion-item__image {
    width: 80%;
  }
  @keyframes animation-image {
    from {
        width: 0;
    }
  
    to {
        width: 80%;
    }
  }
  
}